.dashboard {
    .brand-link {
        span {
            color: black;
            font-weight: bold;
            margin-left: 15px;
        }
    }
}
.layout-navbar-fixed
    .wrapper
    .sidebar-dark-primary
    .brand-link:not([class*="navbar"]) {
    background-color: white !important;
}
.create-info {
    font-size: 16px;
    margin: 5px 15px 15px 0;
    color: black;
    font-family: "SourceSansPro-bold";
    float: right;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #eeee;
    color: black;
}
.fill-form{
    width:60%;
    margin-left:2%;
    padding:1% 2%;
    background:white;
    border:2px solid #eeee;
    border-radius:8px;
    .form-control{
        background:transparent;
        border:none;
        border-bottom:1px solid #eeee;
        border-radius:0;
    }
    button.submit{
        display: block;
        float: right;
        margin:3% 0 1% auto; 
    }
    
}
table{
    th{
        box-shadow: 0;
    }
}
.table.table-head-fixed thead tr:nth-child(1) th{
    box-shadow: none;
}
